/*Stili  generali della pagina*/

body{
    background-color: white;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    font-size: 20px;
    font-family: Whitney, ‘Helvetica Neue’, Helvetica, Arial, sans-serif;
}

/*nav*/

#nav{
    background-color: orange;
    display: flex;
    flex-direction: row;
    width: 80%;
    justify-content: space-between;
    border: 2px black dashed;
    margin: auto;
    flex-wrap: wrap;
}

.ul_top_nav{
    display: flex;
    flex-direction: row;
    list-style-type: none;
    border-left: 4px black dashed;
    border-right: 4px black dashed;
    padding-left: 250px;
    padding-right: 250px;
    flex-wrap: wrap;
}

.text{
    margin: 10px;
    
}

/*header*/

header{
    background-color:aqua;
    padding: 10px;
}

.container{
    background-color: rgb(1, 1, 161);
    height: 500px;
    margin: 10px, 0px, 0px, 5px;
    margin-top: 10px;
    display: flex;
    justify-content: center;
}

.box{
    background-color: palevioletred;
    border: 2px black dashed;
    margin: auto;
    flex-basis: 60%;
    height: 400px;
}

/*Main*/

.container_dispari{
    background-color: rgb(255, 255, 255);
    display: flex;
    height: 600px;
}

.container_pari{
    background-color: rgb(201, 201, 201);
    display: flex;
    height: 600px;
    flex-direction: row-reverse;
}

.primary_dispari{
    background-color: rgb(45, 94, 226);
    height: 500px;
    flex-basis: 65%;
    margin-left: 10%;
    margin-top: 50px;
    border: 2px dashed black;
}

.secondary_dispari{
    background-color: pink;
    height: 500px;
    margin-right: 10%;
    flex-basis: 35%;
    margin-top: 50px;
    border: 1px dashed black;
    border-left: 2px dashed black;
}

.primary_pari{
    background-color: rgb(45, 94, 226);
    height: 500px;
    flex-basis: 65%;
    margin-right: 10%;
    margin-top: 50px;
    border: 2px dashed black;
}

.secondary_pari{
    background-color: pink;
    height: 500px;
    margin-left: 10%;
    flex-basis: 35%;
    margin-top: 50px;
    border: 2px dashed black;
    border-left: 2px dashed black;
}

.container_bottom{
    background-color: rgb(201, 201, 201);
    display: flex;
}

.big_box{
    background-color: green;
    height: 900px;
    flex-basis: 100%;
    margin-left: 10%;
    margin-right: 10%;
    margin-top: 50px;
    border: 2px dashed black;
    margin-bottom: 50px;
}

/*footer*/

footer{
    background-color: rgb(37, 37, 37);
    padding-left: 10%;
    padding-right: 10%;
    padding-top: 10px;
}

.top_footer{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding-bottom: 10px;
    border-bottom: solid white 1px;
}

.collegamenti{
    background-color: salmon;
    width: calc(100% / 6 * 2);
    min-height: 500px;
    border: 2px dashed black;
    list-style-type: none;
}

.prodotto{
    background-color: aquamarine;
    width: calc(100% / 6);
    min-height: 500px;
    border: 2px dashed rgb(255, 255, 255);
    list-style-type: none;
}

.compagnia{
    background-color: aquamarine;
    width: calc(100% / 6);
    min-height: 500px;
    border: 2px dashed rgb(255, 255, 255);
    list-style-type: none;
}

.risorse{
    background-color: aquamarine;
    width: calc(100% / 6);
    min-height: 500px;
    border: 2px dashed rgb(255, 255, 255);
    list-style-type: none;
}

.norme{
    background-color: aquamarine;
    width: calc(100% / 6);
    min-height: 500px;
    border: 2px dashed rgb(255, 255, 255);
    list-style-type: none;
}

.bottom_footer{
    margin-top: 10px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    background-color: aquamarine;
    padding: 10px;
}





